ng-datetime,
.ng-datetime {
  background: white;
  border-radius: 4px;
  display: inline-block;
}

.quick-select {
  border-right: 1px solid #e7e7e7;
  line-height: 30px;
  list-style: none;
  margin: 0;
  max-height: 320px;
  overflow: auto;
  padding: 0;
}

.quick-select li:first-child {
  margin-top: 10px;
}

.quick-select li {
  margin: 0 10px;
}

.actions {
  margin: 15px 10px;
}

.actions .md-button:last-child {
  margin-left: 10px;
}

.actions .md-button,
.quick-select .md-button {
  height: 34px;
  line-height: 34px;
  margin: 0;
  min-height: 34px;
  min-width: 72px;
  padding: 0;
}

.quick-select .md-button {
  text-align: left;
  width: 100%;
}

.date-picker {
  border-collapse: collapse;
  margin: 5px 10px;
}

.date-picker .md-button {
  border-radius: 50%;
  height: 34px;
  margin: 0;
  min-height: 34px;
  padding: 0;
  width: 34px;
}

.date-picker .md-button.normal-day:hover {
  background: #f0f0f0;
}

.date-picker .md-button[disabled] {
  cursor: not-allowed;
  text-decoration: line-through;
}

.date-picker .md-button.today.selected {
  border: none;
}

.date-picker .md-button.today {
  border: 1px solid;
}

.date-picker .md-button.not-in-month {
  opacity: 0.65;
}

.date-picker .md-button.not-in-month[disabled] {
  opacity: 1;
}

.date-picker tr {
  border: 1px solid white;
}

.date-picker .first-range-day.in-range {
  border-radius: 50% 0 0 50%;
}

.date-picker .last-range-day.in-range {
  border-radius: 0 50% 50% 0;
}

.date-picker .first-range-day.in-range,
.date-picker .last-range-day.in-range,
.date-picker .in-range {
  background: #f5f5f5;
}

.week-header td {
  padding: 5px 0;
  text-align: center;
}

.time-picker ng-md-icon,
.picker-header ng-md-icon {
  display: inline-block;
}

.time-picker ng-md-icon svg,
.picker-header ng-md-icon svg {
  vertical-align: middle;
}

.tx-center {
  text-align: center;
}

md-menu-content.flex-menu-content {
  max-width: 140px;
  padding: 5px;
}

md-menu-content.flex-menu-content.hour-menu-content {
  max-width: 216px;
}

md-menu-content.flex-menu-content.minute-menu-content {
  max-width: 330px;
}

.flex-menu-content md-menu-item {
  height: 32px;
  min-height: 32px;
  width: 32px;
}

.flex-menu-content md-menu-item .md-button {
  height: 32px;
  margin: 0;
  min-width: 32px;
  min-height: 32px;
  padding: 0;
  text-align: center;
  width: 32px;
}

.time-picker .split-time {
  position: relative;
}

.time-picker .split-time::after {
  content: ':';
  line-height: 36px;
  position: absolute;
  right: -2px;
  top: 0;
}


/*** picker ***/

.no-margin {
  margin: 0 !important;
}

ng-datetime-picker {
  display: inline-block;
  position: relative;
}

ng-datetime-picker .text-mode-input {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  line-height: 28px;
  outline: none;
  padding: 4px 2px;
}

.ng-datetime-wrapper {
  /*transition: all 0.35s;*/
  border-radius: 4px;
  box-shadow: 0px 0px 15px 0px #aaa;
  margin: 5px 0;
  position: absolute;
  transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  -o-transform: scale3d(0, 0, 0);
  -ms-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  transform-origin: left top;
  -webkit-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  -moz-transform-origin: left top;
  z-index: 99;
}

.ng-datetime-wrapper.open {
  transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
}

.ng-datetime-wrapper.open.x50 {
  transform: scale3d(1, 1, 1) translateX(-50%);
  -webkit-transform: scale3d(1, 1, 1) translateX(-50%);
  -o-transform: scale3d(1, 1, 1) translateX(-50%);
  -ms-transform: scale3d(1, 1, 1) translateX(-50%);
  -moz-transform: scale3d(1, 1, 1) translateX(-50%);
}

.ng-datetime-wrapper.open.y50 {
  transform: scale3d(1, 1, 1) translateY(-50%);
  -webkit-transform: scale3d(1, 1, 1) translateY(-50%);
  -o-transform: scale3d(1, 1, 1) translateY(-50%);
  -ms-transform: scale3d(1, 1, 1) translateY(-50%);
  -moz-transform: scale3d(1, 1, 1) translateY(-50%);
}

.ng-datetime-wrapper.open.xy50 {
  transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
  -webkit-transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
  -o-transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
  -ms-transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
  -moz-transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
}